**/bin
**/obj
**/out
**/publish
**/.vs
**/.vscode
**/.idea
**/node_modules
**/*.user
**/*.suo
**/*.db
**/*.db-*
**/*.sqlite*
**/appsettings.Local.json
**/appsettings.*.Local.json
.env
.env.*
.git
.gitignore
tests/
docker-compose*.yml
Dockerfile*
README.md
